$color-primary: #405588; // Primary color of application
$color-secondary: #E64324; // Secondary color of application
$color-border: #DCDCDC; // Recommended border color
$color-heading: #1b2638; // Recommended heading color
$color-subheading: #313d52; // Recommended subheading color

$breakpoint-xs: 30em; // For the portrait position of mobile devices
$breakpoint-sm: 48em; // For the landscape position of mobile devices
$breakpoint-md: 64em; // For your tablet devices
$breakpoint-lg: 75em; // For your laptop devices
$breakpoint-xl: 90em; // For your desktop devices
